@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;

}

body {
  background: #d0d0d0;
  -webkit-font-smoothing: antialiased;
}

img {
  max-height: 250px
}

main {
  padding-top: 10rem;
}